---
title: "Princess Lyons"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.4"
  overlay_image: /assets/images/chicagoSkyline.jpg
  cta_label: "About"
  cta_url: "/aboutme/"
  caption: "Photo: Stephan Cassara on Unsplash"
excerpt: "Ph.D. ECE student at the University of Florida :computer: :bar_chart: :soccer:"
intro:
  - excerpt: 'Learn what you like to love what you do!'
feature_row:
  - image_path: /assets/images/computerResearch.jpg
    title: "Research"
    # excerpt: "My research projects"
    btn_label: "Check it out"
    btn_class: "btn--primary"
    url: "/research/"
  - image_path: /assets/images/travelPhoto1.jpg
    title: "Leisure"
    # excerpt: "My hobbies and free time" # "Photo: Andrew Neel on Unsplash"
    btn_label: "Check it out"
    btn_class: "btn--primary"
    url: "/leisure/"
  - image_path: /assets/images/computerResearch.jpg
    title: "Resume"
    # excerpt: "My documents"
    btn_label: "Check it out"
    btn_class: "btn--primary"
    url: "/assets/documents/Lyons Princess - Resume.pdf"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
